body {
    margin: 0 auto;
}


header {
    display: flex;
    width: 100%;
    height: 76px;
    flex-shrink: 0;
    background-color: #0A61F7;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0 130px;
    box-sizing: border-box;
}


.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    font-family: 'Rubik';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    color: #FFF;
    letter-spacing: 1.4px;
    line-height: 20px;

}

.nav li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav a {
    text-decoration: none;
    text-transform: uppercase;
}


.hero {
    display: flex;
    background-color: #fff;
    width: 100%;
    height: 800px;
    flex-shrink: 0;
    box-sizing: border-box
}

.image {
    margin-top: 150px;
    width: 656px;
    height: 650px;
    flex-shrink: 0;
    border-radius: 10px 10px 0px 0px;


}

.text {
    padding-left: 130px;
    padding-top: 176px;
    padding-bottom: 412px;
    padding-right: 25px;
}

.text h1 {
    width: 459px;
    color: #363940;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Rubik';
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    line-height: 68px;
}

.text p {
    width: 380px;
    color: #95A1BB;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Rubik';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}


.rates {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 625px;
    flex-shrink: 0;
    background: #F9FAFC;
    box-sizing: border-box
}

.rates-text {
    align-items: center;
}

.rates-text h2 {
    color: #363940;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Rubik;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 43px;
}

.rates-text p {
    color: #95A1BB;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

table {
    border-spacing: 0;
    width: fit-content;
    border: 1px solid #95A1BB;
}

.row {
    border: 1px solid #95A1BB;
    height: 52px;
}

.row-large {
    height: 96px;
}

.cell{
    width: 241px;

    padding: 0;
    margin: 0;
    border: 1px solid #95A1BB;
}

.cell-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.check,
.close {
    /* background-size: cover; */
    background-repeat: no-repeat;
}

.check {
    background-image: url('assets/image/check.svg');
}

.close {
    background-image: url('assets/image/close.svg');
}

.smoke {
    color: #95A1BB;

    font-family: 'Rubik';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.no-smoke {
    font-family: 'Rubik';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
.no-smoke a {
    text-decoration: none;
}

.bold {
    color: #363940;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: 'Rubik';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}

.button {
    border-radius: 4px;
    text-align: center;
    font-family: 'Rubik';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 19.6px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    border: 1px solid #0A61F7;
    width: 140px;
    height: 36px;
    cursor: pointer;
    text-decoration: none;
}
.button-large {
    width: 152px;
    height: 50px;
}

.button-light {
    background: #F9FAFC;
    color: #0A61F7;
}

.button-blue {
    background: #0A61F7;
    color: #F9FAFC;
}

.account {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 1400px;
    height: 718px;
    flex-shrink: 0;
    background-color: #FFFFFF;
}

.account-text {
    width: 500px;
    height: 370px;
    flex-shrink: 0;
    margin-top: 100px;
    margin-left: 130px;
    margin-bottom: 248px;
}

.account-text h2 {
    color: #363940;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Rubik';
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

.account-text p {
    width: 500px;
    color: #95A1BB;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

form {
    display: block;
    flex-direction: column;
    box-sizing: border-box;
    width: 480px;
    height: 518px;
    flex-shrink: 0;
    margin-top: 100px;
    margin-right: 130px;
    margin-bottom: 100px;
    margin-left: 160px;
}

#name {
    box-sizing: border-box;
    border-radius: 4px;
    width: 480px;
    height: 50px;
    flex-shrink: 0;
    margin-bottom: 20px;
}

#email {
    box-sizing: border-box;
    border-radius: 4px;
    width: 230px;
    height: 50px;
    flex-shrink: 0;
    margin-right: 6px;
}

#password {
    box-sizing: border-box;
    border-radius: 4px;
    width: 230px;
    height: 50px;
    flex-shrink: 0;
    margin-left: 10px;
}

#dateOB {
    box-sizing: border-box;
    border-radius: 4px;
    width: 230px;
    height: 50px;
    flex-shrink: 0;
    margin-top: 20px;
    margin-right: 16px;
    margin-bottom: 20px;
}

#country {
    box-sizing: border-box;
    border-radius: 4px;
    width: 230px;
    height: 50px;
    flex-shrink: 0;
}


#front,
#back {
    margin-bottom: 20px;
}

label {
    box-sizing: border-box;
    border-radius: 8px;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    color: #95A1BB;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.4px;
}

fieldset {
    width: 454px;
    height: 83px;
    flex-shrink: 0;
    border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #95A1BB;
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 62px;
    flex-shrink: 0;
    background: #0A61F7;
}

small {
    color: white;
    font-family: 'Rubik';
}